html, body {
  margin: auto;
  display: flex;
  align-items: center;

  flex-direction: column;
}
canvas {
  display: block;
  border-radius: 10px;
  border-color: #c392bf;
  border: 10px;
}
button{
  display: block;
  padding: 20px 40px;
  margin: 60px auto;

  background-color: #994b7c;
  color: white;
  font-family: "Baloo Bhaijaan 2", serif;
  font-weight: 500;
  font-size: 120%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect */
button:hover {
  background-color: #c392bf;
  transform: scale(1.05);
}